<html>
<head>

</head>
<body>
<section align="center" style="margin-top:40vh;">
    <form action="/process" method="POST">
        Username <input type="text" name="username">
        Password <input type="password" name="password">
        <button type="submit">Login</button>
    </form>

</section>
</body>
</html>
