<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to secure page</title>
</head>
<body>
<section>
    <h1>Welcome to the Secure area</h1>
    <h3>Your data is being processed</h3>
    <hr/>
    <h4>What am i thinking ? <%= mind %></h4>
    <h4>My CSRF TOKEN ? <%= csrf %></h4>
    <p>If you refresh literally you are submitting the same token over and over again. Hance Synchronizer token
        patten</p>
</section>
</body>
</html>
