<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to secure page</title>
</head>
<body>
<section align="center" style="margin-top:30vh;">
    <h1>Welcome to the Secure area</h1>
    <h3>Your data is being processed</h3>
    <hr/>
    <h4>What am i thinking ? <%= mind %></h4>
    <h4>My CSRF token ? <%= csrf %></h4>
    <p>If you refresh literally you are submitting the same token over and over again. Hence <strong>Synchronizer token
            patten</strong> </p>
</section>
</body>
</html>
